html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //background-image: url('/wet-graphpaper.jpg');
  //background-position: center;
  background-image: -webkit-gradient(linear, left top,right top,color-stop(0,#fcfcfc),color-stop(0.25,#efefde),color-stop(1,#d4e6f2));
  /*background-image:-webkit-linear-gradient(left,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);*/
  background-image: -webkit-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: -moz-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: -o-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: -ms-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  color:#42494e;
  //color: #672505;
  font-size: 18px;
  margin-top: 50px;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.btn {
  border: none;
  background-color: #ff8756 !important;
  background-image: none !important;
  color: white !important;
  text-shadow: none !important;
}

.btn:hover {
  opacity: 0.5;
}

.rocketship {
  background-image: url('/bulb.png');
  background-repeat: no-repeat;
  width: 187px;
  height: 320px;
  position: fixed;
  bottom: 100px;
  right: 90px;
  opacity: 0.1;
  z-index: -1;
}

.top-border {
  background: #E74C3C;
  color: white;
  margin-bottom: 40px;
  font-size: .8em;
  text-align: center;
}

.header {
  // background: url(/small-rocketship.gif) no-repeat 500px center;
  height: 60px;
  //border-bottom: 5px solid white;
  margin-bottom: 10px;
}

.header_meteor_link {
  color: white;
  text-decoration: none;
}

.header_meteor_link:hover {
  color: #ff0;
}

#intro {
  margin: 50px 0 0 0; 
  background-color:#ff8756;
  color:white;
  font-size: .8em;
}

.intro {
  //margin: 50px 0;
  padding: 20px;
}

.intro-center-text {
  background-color:#ffc3aa;
  color:#ff8756;
  border-radius:50px;
}

#intro-subtext {
  margin: 0 0 75px 0; 
  //background-color:#ffc3aa;
  //background-color:#ff6f40;
  background-color: #95b7c3;
  //color:#ff8756;
  //color:#ffc3aa;
  color: white;
  font-size: 1.0em;
  font-weight: bold;
}

.app_list {
  width: 100%;
  padding-right: 10px;
}

.app_list_inner {
  margin: 10px 10px 10px 10px;
}

.app-input {
  padding: 20px;
  margin-top: 20px;
  background: white;
  //background: #3498DB;
  //color: white;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.app {
  padding: 20px;
  margin-top: 20px;
  background: white;
  //background: #3498DB;
  //color: white;
  border-radius: 8px;
  border-bottom: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}

.draft_description {
  padding: 5px 25px;
  //background-color: #bed5db;
  //color: white;
  font-size: .9em;
}

.draft_name {
  padding: 25px 25px;
  //background-color: #95b7c3;
  //color: white;
  font-size: 1.5em;
}

.draft_github_url {
  padding: 5px 25px;
  //background-color: #bed5db;
  //color: white;
  font-size: .9em;
}

.app_selected .app_description span {
  //background: #ff0;
}

.vote {
  cursor: pointer;
}

.vote-hover-replace {
  display: inline;
}

.vote-hover-replace:hover span {
  display:none;
}

.vote-hover-replace:hover:before {
  content: "click if you have this problem";
  font-weight: bold;
}

.upvote {
  //color: grey;
  display: inline;
}

.vote_count {
  display: inline;
}

.app_description {
  font-size: 1em;
  line-height: 1em;
}

textarea.app_description {
  width: 100%;
  padding: 0;
  height: 3em;
  margin-bottom: 10px;
}

.draft_field {
  margin-bottom: 10px;
}

.draft_field label {
  font-size: 100%;
  font-weight: bold;
  padding: 1px;
  line-height: 1em;
  margin-bottom: 20px;
}

.deEmphasize {
  color: #999;
  font-size: 75%;
  margin-top: 5px;
}

.draft_app_input {
  position: absolute;
  left: 220px;
  width: 535px;
  font-size: 100%;
  padding: 1px;
}


.draft_buttons button {
  font-size: 100%;
}

[disabled], .disabled {
  color: #ccc;
  opacity: 0.65;
}

#draft_password_show_toggle {
  display: none;
}

.required {
  font-size:0.5em;
  padding-right: 20px;
}

input {
  border-top: none;
  border-right: none;
  border-bottom: 1px dashed #c2c2c2;
  border-left: none;
  width: 98%;
  // font-size: ;
  // color: ;
}

.add_app {
  font-size: 1.5em;
  width: 8em;
  letter-spacing: -1px;
  margin-left: auto;
  display: block;

  text-shadow: -1px -2px 0 rgba(0, 0, 0, 0.25);
/*
  background-color: #414141;
  background-image: -webkit-linear-gradient(top, #555, #222);
  background-image: -o-linear-gradient(top, #555, #222);
  background-image: linear-gradient(top, #555, #222);
  background-repeat: repeat-x;*/

background-color: #39f;
background-image: -moz-linear-gradient(top, #39F, #17c);
background-image: -ms-linear-gradient(top, #39F, #17c);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#39F), to(#17c));
background-image: -webkit-linear-gradient(top, #39F, #17c);
background-image: -o-linear-gradient(top, #39F, #17c);
background-image: linear-gradient(top, #39F, #17c);

border-color: #05C #05C #36a #05C;

//  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
}

.app_details {
  clear: both;
  font-size: 70%;
  margin-top: 15px;
  color: #95b7c3;
}

#comments {
  cursor: pointer;
}

.comments_expanded_arrow {
  // font-size: 0.7em;
  //vertical-align: middle;
}

.header_madewith {
  font-size: 3.5em;
  float: left;
  font-weight: 700;
  // color: white;
  letter-spacing: -2px;
  text-shadow: 1px 1px #fff;
}

.examples_madewith {
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: -2px;
  text-shadow: 1px 1px #fff;
  margin-bottom: 30px;
}

.action_bar {
  padding-top: 50px;
}

.action_bar_container {
  //border-top: 3px dashed white;
}

.sort_toggle {
  padding: 4px 8px;
  cursor: pointer;
  background-color: #95b7c3 !important;
  opacity: 0.5;
  width: 75px;
}
.sort_toggle:hover {
  opacity: 1.0;
}

.sort_toggle_left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sort_toggle_right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sort_toggle_selected {
  background-color: #95b7c3 !important;
  font-weight: bold;
  opacity: 1.0;
}

#new_comment_comment {
  display: block;
  width: 565px;
  height: 100px;
}

.install_badge_instructions {
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
  background: #cfc;
}

.comment {
  background: white;
  font-size: .75em;
  border-top: 1px solid #ddd;
  //border-radius: 4px;
  padding: 10px;
  //margin: 10px 0;
  overflow: hidden;
  position: relative;
  zoom: 1;
}

.comment:nth-child(odd) {
  background: #f9f9f9;
}

.new_comment {
  background: white;
  //border: 2px solid #ddd;
  border-radius: 4px;
  //padding: 10px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  zoom: 1;
}

.comment_author, #new_comment_author {
  float: left;
  width: 100px;
  font-weight: bold;
}

#new_comment_author {
  position: relative;
}

input#new_comment_author {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.comment_text {
  margin-left: 120px;
}

#new_comment_comment {
  float: right;
}

.new_comment_submit {
  font-size: 100%;
  margin-top: 5px;
  float: right;
  clear: both;
}

.vote_count {
  font-weight: bold;
}